<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <div class="logo">
      <a href="{{ site.baseurl }}/{{page.lang}}/index.html"><img src="/assets/img/logo.png" alt="metraTec Logo"></a>
    </div>

    <!-- <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        <li><a class="nav-link scrollto" href="#services">Services</a></li>
        <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
        <li><a class="nav-link scrollto" href="#team">Team</a></li>
        <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav> -->

    <!-- see: https://gist.github.com/clem109/c76716ac0ecfd136954b21d74a6a5c02 -->

    {% if page.lang=="de"%}
      {% assign links = site.data.main_menu_de %}
    {% else %}
      {% assign links = site.data.main_menu_en %}
    {% endif %}
    
    {% for entry in links %}
      {% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
      {% if fullurl == page.url %}
        {% assign current_page = fullurl %}
        {% break %}
      {% elsif page.url contains fullurl %}
        {% assign current_page = fullurl %}
      {% endif %}
    {% endfor %}

    <nav id="navbar" class="navbar">
      <ul>
      {% for entry in links %}
          {% if entry.url == current_page %}
              {% assign current = 'active' %}
          {% else %}
              <!-- We have to declare it 'null' to ensure it doesn't propagate. -->
              {% assign current = null %}
          {% endif %}
          {% assign sublinks = entry.sublinks %}
          {% if sublinks %}
          <li class="dropdown">
              <a class="{{current}}" href="{{ site.baseurl }}{{ entry.url }}"><span>{{entry.title}}</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                  {% for sublink in sublinks %}
                  <li><a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a></li>
                  {% endfor %}
              </ul>
          </li>
          {% else %}
          <li><a class="nav-link {{current}}" href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a></li>
          {% endif %}
      {% endfor %}
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
  </nav>

  </div>
</header>