---
layout: page
---

<div class="row content">
    <div class="col-lg-3">
        <img src="{{page.featuredImage}}" class="img-fluid" style="max-width:220px" alt="">
    </div>
    <div class="col-9">
        <p>
        <h2>{{page.title}}</h2>
        <i>{{page.date}}</i></p>
        <div class="row">
            <div class="col-lg-8 pt-6 pt-lg-0">
                <p>
                    {{ content }}
                </p>
            </div>
         
        </div>
        <p>
            <a onclick="window.history.back()"><button type="button" class="btn btn-outline-dark rounded-pill"">Back to Overview</button></a>

        </p>
     
    </div>
</div>