---
layout: page
---

{{ content}}

{% assign sorted = site.pages | sort: 'rank' %}

{% for item in sorted %}
{% assign item_crumbs = item.url | remove_first: page.dir | split: '/' %}

{% if item_crumbs.size == 1 and item.name == 'index.md' %}

<p>
    <div class="row no-gutters">
        <div class="col-2">
            {% if item.featuredImage %}
            <img src="{{ item.url | relative_url }}/{{item.featuredImage}}" class="img-fluid" style="max-width:200px; max-height:200px" alt="{{item.title}}">
            {% endif %}

        </div>
        <div class="col">
            <div class="card-block px-0">
                <p>
                    <h4>
                        {{ item.title }}
                    </h4>
                    {{item.description}}
                    
                 
                    <br />
                    <a href="{{ item.url | relative_url }}">
                        
                        {% if page.lang == 'en'%}
                        See all products
                        {% else %}
                        Alle Produkte ansehen
                        {% endif %}
                        
                    </a>
                    </p>
            </div>
        </div>
    </div>
    <br />
    </p>

{% endif %}
{% endfor %}