---
layout: page
---

{{ content}}

{% assign sorted = site.pages | sort: 'rank' %}

{% for item in sorted %}
{% assign item_crumbs = item.url | remove_first: page.dir | split: '/' %}

{% if item_crumbs.size == 1 and item.name == 'index.md' and item.inactive != true %}

<div class="col-9">
    <p>
    <div class="row">
        <div class="col-lg-3 pt-3 pt-lg-0">
            {% if item.featuredImage %}

            <img src="{{ item.url | relative_url }}/{{item.featuredImage}}" class="img-fluid"
                style="max-width:200px; max-height:200px" alt="{{item.title}}">
            {% endif %}
        </div>
        <div class="col-lg-6 pt-6 pt-lg-0">
            <p>
            <h4>
                {{ item.title }}
            </h4>
            {{item.description}}
            <br />
            <a href="{{ item.url | relative_url }}">{% if page.lang == 'en'%}
                To Product Page
                {% else %}
                Zur Produktseite
                {% endif %}</a>
            </p>
        </div>
    </div>
    </p>
</div>
{% endif %}
{% endfor %}