---
layout: page
---

<div class="row content">
    <div class="col-12 col-lg-3 mx-1 pt-2">
        <img src="{{page.featuredImage}}" class="img-fluid" style="max-height:250px" alt="Test">
    </div>
    <div class="col-lg-8 pt-lg-0 pt-4 mx-1">
        <h2>{{page.title}}</h2>
        <hr />
        <div class="row">
            <div class="col-lg-8 pt-6 pt-lg-0">
                <p>
                    {{ content }}
                </p>
            </div>
            <div class="col-lg-4 pt-2">
                <ul>
                    {% for bullet in page.bulletPoints %}
                    <li>{{bullet}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="py-2">
            <a onclick="window.history.back()"><button type="button" class="btn btn-outline-dark rounded-pill"">Back to Overview</button></a>
        </div>
    </div>
    
    <div class=" row pt-3">
                    <div class="col-lg-6 pt-6 pt-lg-0 offset-lg-3">
                        <table class="table rounded">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">{% if page.lang == 'en'%}
                                        Filename
                                        {% else %}
                                        Dateiname
                                        {% endif %}
                                        </th>
                                    <th scope="col">Version</th>
                                    <th scope="col">{% if page.lang == 'en'%}
                                        Type
                                        {% else %}
                                        Typ
                                        {% endif %}</th>
                                    <th scope="col">{% if page.lang == 'en'%}
                                        Size
                                        {% else %}
                                        Größe
                                        {% endif %}</th>
                                    <th scope="col"> </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for linked_file in page.linked_files%}
                                {% assign file = site.files | where:"title", linked_file | first %}
                                <tr>
                                    <td>{{file.filename_de}}</td>
                                    <td>{{file.version}}</td>
                                    <td>{{file.filetype}}</td>
                                    <td>{{file.size}}</td>
                                    <td><a href="/assets/files/{{file.link}}" download><button
                                                class="btn btn-small btn-outline-primary rounded-pill">Download</button></a>
                                    </td>
                                </tr>

                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
    </div>

</div>